.LineItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-color: black;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
  
  .LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
  }
  
  .LineItem .Quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem .ext-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem button {
    margin: 0;
  }
  
  .end-total {
    display: flex;
    justify-content: flex-end;
  }

  .line-item-property {
    display: flex;
    justify-content: flex-start;
    flex-direction:column;
    gap: 30px;
  }

  .button-plus-qty {
    margin-right: 30px;
  }